---
layout: default
title: Home
group: "in_local_navigation"
order: 1
---

<div class="columns medium-12" markdown="1">
<div class="columns medium-12" markdown="1">
# IMEx data

- A non-redundant set of protein-protein interaction data from a broad taxonomic range of organisms
- Expertly curated from direct submissions, pre-prints or peer-reviewed journals to a consistent high standard.
- Available in standard formats <a href="http://www.biomedcentral.com/1741-7007/5/44">MITAB</a> or <a href="http://www.psidev.info/index.php?q=node/60">PSI-MI XML 2.5</a>
- Provided by a network of participating major public domain databases.
</div>
<div class="columns medium-12">
{% include search.html %}
</div>
</div>

<div class="columns medium-12" markdown="1">
<div class="row" data-equalizer data-equalize-on="medium" markdown="1">
<div class="medium-6 columns" markdown="1">
<div class="callout" data-equalizer-watch markdown="1">
### News
##### Access to a single, unified IMEx dataset.
The IMEx Consortium is improving our service to our users by collaborating in making a single IMEx PSICQUIC service available. Use the search box on these web pages to access the data or download species-specific PSI-MI XML2.5, 3.0 or MITAB files from: <a href="ftp://ftp.ebi.ac.uk/pub/databases/intact/current/">ftp://ftp.ebi.ac.uk/pub/databases/intact/current/</a>.
</div>
</div>
<div class="medium-6 columns" markdown="1">
<div class="callout" data-equalizer-watch markdown="1">
### Citing IMEx
<p>Orchard, S., et al.</p>
<p><a href="http://www.nature.com/nmeth/journal/v9/n4/full/nmeth.1931.html">Protein interaction data curation: the International Molecular Exchange (IMEx) consortium Nat Methods 2012, 9, 345-350</a></p>
</div>
</div>
</div>
</div>
{% include ga.html %}
