<div class="small-12 medium-9 columns">
    <section>
        <h2>About</h2>
    </section>

    <section>
        <h3>About IMEx</h3>
        <p>The IMEx consortium is an international collaboration between a group of major public interaction data
            providers who have agreed to share curation effort and:</p>
        <ul>
            <li>
                Develop and work to a single set of curation rules when capturing data from both directly deposited
                interaction data or from publications in peer-reviewed journals
            </li>
            <li>
                Capture full details of an interaction in a “deep” curation model
            </li>
            <li>
                Perform a complete curation of all protein-protein interactions experimentally demonstrated within a
                publication
            </li>
            <li>
                Make these interaction available in a single search interface on a common website
            </li>
            <li>
                Provide the data in standards compliant download formats
            </li>
            <li>
                Make all IMEx records freely accessible under the Creative Commons Attribution License
            </li>
        </ul>
        <h4>IMEx defines three types of membership</h4>
        <ol>
            <li>
                Active: IMEx partner commits to producing relevant numbers of records curated to IMEx standard and
                providing these via a PSICQUIC service.
            </li>
            <li>
                Observer: Prospective IMEx consortium member.
            </li>
            <li>
                Inactive: former IMEx partner who contributed to the establishment of the IMEx curation rules and/or
                have contributed data to the IMEx dataset.
            </li>
        </ol>
        <h4>IMEx defines three types of membership</h4>
        <ul class="small-12 medium-3 columns">
            <li>
                <a href="http://dip.doe-mbi.ucla.edu/" target="_blank">DIP (Active)</a>
            </li>
            <li>
                <a href="http://www.agbase.msstate.edu/hpi/main.html" target="_blank">HPIDB (Active)</a>
            </li>
            <li>
                <a href="http://www.ebi.ac.uk/intact" target="_blank">IntAct (Active)</a>
            </li>
            <li>
                <a href="http://www.mechanobio.info/" target="_blank">MBInfo (Active)</a>
            </li>
            <li>
                <a href="http://mint.bio.uniroma2.it/mint/" target="_blank">MINT (Active)</a>
            </li>
            <li>
                <a href="http://matrixdb.ibcp.fr/" target="_blank">MatrixDB (Active)</a>
            </li>
            <li>
                <a href="http://www.molecularconnections.com" target="_blank">Molecular Connections (Active)</a>
            </li>
            <li>
                <a href="http://ophid.utoronto.ca/" target="_blank">I2D (Active)</a>
            </li>
            <li>
                <a href="http://www.innatedb.com/" target="_blank">InnateDB (Active)</a>
            </li>
            <li>
                <a href="http://www.ucl.ac.uk/functional-gene-annotation/cardiovascular" target="_blank">UCL-BHF group,
                    UCL London (Active)</a>
            </li>
            <li>
                <a href="http://web.expasy.org/groups/swissprot/" target="_blank">UniProt Swiss-Prot group, SIB
                    (Active)</a>
            </li>
            <li>
                <a href="http://www.ebi.ac.uk/services/proteins" target="_blank">EMBL-EBI (Active)</a>
            </li>
        </ul>
        <ul class="small-12 medium-3 columns">
            <li>
                <a href="http://www.thebiogrid.org/" target="_blank">BioGRID (Observer)</a>
            </li>
            <li>
                <a href="http://primesdb.org/" target="_blank">PrimesDB (Observer)</a>
            </li>
        </ul>
        <ul class="small-12 medium-3 columns">
            <li>
                <a href="http://mips.gsf.de/genre/proj/mpact" target="_blank">MPact (Inactive)</a>
            </li>
            <li>
                <a href="http://www.blueprint.org/" target="_blank">BIND (Inactive)</a>
            </li>
            <li>
                <a href="http://www.jcvi.org/mpidb" target="_blank">MPIDB (Inactive)</a>
            </li>
        </ul>
    </section>

</div> <!-- /medium-9 -->

<div class="small-12 medium-3 columns sidebar" data-sticky-container>

    <div class="sticky" data-sticky data-anchor="main-content-area" data-options="marginTop:4;">
        <h4>Right sidebar</h4>
        <p>This is a sample item with a vertical menu.</p>
        <div>
            <ul class="menu vertical">
                <li><a href="//github.com/ebiwd/EBI-Framework">Sample link</a></li>
                <li><a href="//github.com/ebiwd/EBI-Framework/issues">Sample link</a></li>
                <li><a class="active" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/sample-site/">Active
                    link</a></li>
                <li><a href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/fonts/index.html">Sample link</a></li>
            </ul>
        </div>
    </div>

</div> <!-- /medium-3 -->
