<div class="small-12 medium-9 columns padding-left-none">
    <h1></h1>
    <section>
        <div id="about_imex" class="medium-12 columns padding-left-none">
            <h2>About IMEx</h2>
            <p>The IMEx Consortium is an international collaboration between a group of major public interaction data
                providers who have agreed to share curation effort and:</p>
            <ul>
                <li>
                    Develop and work to a single set of curation rules when capturing data from both directly deposited
                    interaction data and from publications in peer-reviewed journals
                </li>
                <li>
                    Capture full details of an interaction in a “deep” curation model
                </li>
                <li>
                    Perform a complete curation of all protein-protein interactions experimentally demonstrated within a
                    publication
                </li>
                <li>
                    Make these interactions available in a single search interface on a common website
                </li>
                <li>
                    Provide the data in standards-compliant download formats
                </li>
                <li>
                    Make all IMEx records freely accessible under the Creative Commons Attribution License
                </li>
            </ul>
            <h3>IMEx membership</h3>
            <p>IMEx defines three types of membership:</p>
            <ol>
                <li>
                    Active: IMEx partner commits to producing relevant numbers of records curated to IMEx standard and
                    providing these via a PSICQUIC service.
                </li>
                <li>
                    Observer: Prospective IMEx Consortium member.
                </li>
                <li>
                    Inactive: former IMEx partner who contributed to the establishment of the IMEx curation rules and/or
                    have contributed data to the IMEx dataset.
                </li>
            </ol>
        </div>
        <div class="medium-12 columns padding-left-none">
            <h3>List of IMEx members</h3>
            <ul class="small-12 medium-3 columns">
                <li>
                    <a href="http://dip.doe-mbi.ucla.edu/" target="_blank">DIP (Active)</a>
                </li>
                <li>
                    <a href="http://www.agbase.msstate.edu/hpi/main.html" target="_blank">HPIDB (Active)</a>
                </li>
                <li>
                    <a href="http://www.ebi.ac.uk/intact" target="_blank">IntAct (Active)</a>
                </li>
                <li>
                    <a href="http://www.mechanobio.info/" target="_blank">MBInfo (Active)</a>
                </li>
                <li>
                    <a href="http://mint.bio.uniroma2.it/mint/" target="_blank">MINT (Active)</a>
                </li>
                <li>
                    <a href="http://matrixdb.univ-lyon1.fr/" target="_blank">MatrixDB (Active)</a>
                </li>
                <li>
                    <a href="http://www.molecularconnections.com" target="_blank">Molecular Connections (Active)</a>
                </li>
                <li>
                    <a href="http://ophid.utoronto.ca/" target="_blank">I2D (Active)</a>
                </li>
                <li>
                    <a href="http://www.innatedb.com/" target="_blank">InnateDB (Active)</a>
                </li>
                <li>
                    <a href="http://www.ucl.ac.uk/functional-gene-annotation/cardiovascular" target="_blank">UCL-BHF
                        group,
                        UCL London (Active)</a>
                </li>
                <li>
                    <a href="http://www.uniprot.org/" target="_blank">UniProt group
                        (Active)</a>
                </li>
                <li>
                    <a href="https://web.expasy.org/groups/swissprot/" target="_blank">Swiss-Prot group, SIB
                        (Active)</a>
                </li>
                <li>
                    <a href="http://www.ebi.ac.uk/services/proteins" target="_blank">EMBL-EBI (Active)</a>
                </li>
            </ul>
            <ul class="small-12 medium-3 columns">
                <li>
                    <a href="http://www.thebiogrid.org/" target="_blank">BioGRID (Observer)</a>
                </li>
                <li>
                    <a href="http://primesdb.org/" target="_blank">PrimesDB (Observer)</a>
                </li>
            </ul>
            <ul class="small-12 medium-3 columns">
                <li>
                    <a href="http://mips.gsf.de/genre/proj/mpact" target="_blank">MPact (Inactive)</a>
                </li>
                <li>
                    <a href="http://www.blueprint.org/" target="_blank">BIND (Inactive)</a>
                </li>
                <li>
                    <a href="http://www.jcvi.org/mpidb" target="_blank">MPIDB (Inactive)</a>
                </li>
            </ul>
        </div>
        <div class="medium-12 columns padding-left-none">
            <p>The IMEx Consortium is open to the participation of additional partners.</p>

            <h3>Data Availability</h3>
            <p>
                All IMEx Consortium data is centralised in the IntAct database at the EMBL-EBI. Member databases curate
                into
                IntAct, then make some or all of the data available at their own websites. Currently, the entire IMEx
                dataset can be accessed via the <a href="https://www.ebi.ac.uk/intact">IntAct website</a> and the <a href="http://mentha.uniroma2.it/"> mentha portal</a>. Biological domain-specific resources such as MatrixDB and HPIDB,
                only
                import specific subsets of data back into their own resources.
            </p>
            <p>
                Data can be searched on the <a href="http://www.imexconsortium.org/home">IMEx website</a> and downloaded in PSI-MI
                XML2.5 or MITAB format, enabling users to visualize the data in a wide range of tools such as Cytoscape
                and
                the R Bioconductor software suite. Species-specific PSI-MI XML2.5 and 3.0 and MITAB2.7 files can
                currently
                be accessed on <a href="https://www.ebi.ac.uk/intact/downloads">www.ebi.ac.uk/intact/downloads</a>. Please be
                warned
                that this site contains legacy non-IMEx data from the DIP, IntAct, MINT and UniProtKB curation teams. A
                specific IMEx ftp site will be established later. All datasets will automatically increase with every
                release of the IntAct database.
            </p>
        </div>
    </section>

    <section>
        <div id="training" class="medium-12 columns padding-left-none">
            <h2>Training</h2>
            <div class="columns medium-12 callout">
                <div class="columns medium-12">
                    <h3>
                        <a href="//www.ebi.ac.uk/training/events/2018/networks-and-pathways-3">Networks and
                            Pathways</a>
                    </h3>
                </div>
                <div class="columns medium-12">
                    <h4>
                        Description
                    </h4>
                    <p>
                        This course will provide life scientists training on exploring and using protein
                        interaction bioinformatics resources. The content examines the data repositories,
                        resources and tools available to explore and analyse large datasets and introduce the
                        principles of biological network and pathway analysis.
                    </p>
                </div>
                <div class="columns medium-3">
                    <h4>
                        Participation
                    </h4>
                    <p>
                        Open application with selection
                    </p>
                </div>
                <div class="columns medium-3">
                    <h4>
                        Location
                    </h4>
                    <p>
                        Networks and Pathways
                    </p>
                </div>
                <div class="columns medium-3">
                    <h4>
                        Date
                    </h4>
                    <p>
                        14th - 18th May 2018
                    </p>
                </div>
                <div class="columns medium-3">
                    <h4>
                        Contact
                    </h4>
                    <p>
                        <a href="mailto:courses@ebi.ac.uk" target="_top">EMBL-EBI Training Team</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="licence" class="medium-12 columns padding-left-none">
            <h2>Licence</h2>
            <p>
                The International Molecular Interaction Exchange (IMEx) Consortium is a collaboration between IntAct,
                DIP, HPIDB, MINT, MatrixDB, I2D, InnateDB, UniProtKB/Swiss-Prot, UCL-BHF and Molecular Connections. The
                IMEx Consortium applies the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution License</a>. This means that you are free to copy, distribute, display
                and make commercial use of all IMEx records from the above databases provided appropriate credit is
                given. Appropriate credit should be given in the form of a URL linking the record to its original
                instance at the database which has created it.
            </p>
        </div>
    </section>
    <section>
        <div id="disclaimer" class="medium-12 columns padding-left-none">
            <h2>Disclaimer</h2>
            <p>
                We make no warranties regarding the correctness of the data, and disclaim liability for damages
                resulting from its use. We cannot provide unrestricted permission regarding the use of the data, as some
                data may be covered by patents or other rights.
            </p>
            <p>
                Any medical or genetic information is provided for research, educational and informational purposes
                only. It is not in any way intended to be used as a substitute for professional medical advice,
                diagnosis, treatment or care.
            </p>
        </div>
    </section>
</div> <!-- /medium-9 -->
<div class="small-12 medium-3 columns sidebar" data-sticky-container>

    <div class="sticky" data-sticky data-anchor="main-content-area" data-options="marginTop:10;">
        <h4>About</h4>
        <div>
            <ul class="menu vertical">
                <li><a href="#about_imex">About IMEx</a></li>
                <li><a href="#training">Training</a></li>
                <li><a href="#licence">Licence</a></li>
                <li><a href="#disclaimer">Disclaimer</a></li>
            </ul>
        </div>
    </div>

</div> <!-- /medium-3 -->
