<div class="small-12 medium-9 columns">

    <section>
        <h2>About</h2>
    </section>

    <section>
        <h3>About IMEx</h3>
        <p>The IMEx consortium is an international collaboration between a group of major public interaction data providers who have agreed to share curation effort and:</p>
        <ul>
            <li>
                Develop and work to a single set of curation rules when capturing data from both directly deposited interaction data or from publications in peer-reviewed journals
            </li>
            <li>
                Capture full details of an interaction in a “deep” curation model
            </li>
            <li>
                Perform a complete curation of all protein-protein interactions experimentally demonstrated within a publication
            </li>
            <li>
                Make these interaction available in a single search interface on a common website
            </li>
            <li>
                Provide the data in standards compliant download formats
            </li>
            <li>
                Make all IMEx records freely accessible under the Creative Commons Attribution License
            </li>
        </ul>
        <h4>Level 4 heading</h4>
        <p>More content in a full-width container.</p>
    </section>

</div> <!-- /medium-9 -->

<div class="small-12 medium-3 columns sidebar" data-sticky-container>

    <div class="sticky" data-sticky data-anchor="main-content-area" data-options="marginTop:4;">
        <h4>Right sidebar</h4>
        <p>This is a sample item with a vertical menu.</p>
        <div>
            <ul class="menu vertical">
                <li><a href="//github.com/ebiwd/EBI-Framework">Sample link</a></li>
                <li><a href="//github.com/ebiwd/EBI-Framework/issues">Sample link</a></li>
                <li><a class="active" href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/sample-site/">Active
                    link</a></li>
                <li><a href="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/fonts/index.html">Sample link</a></li>
            </ul>
        </div>
    </div>

</div> <!-- /medium-3 -->
